.image-1{
    position: relative;
    margin-left: 1%;
    color: rgb(58,89,94);
}

.title1{
    color: white;
    position: absolute;
    top: 8%;
    margin-left: 250px;
}

.title2{
    color: white;
    position: absolute;
    top: 19%;
    margin-left: 250px;
}


.main-page{
    background-color: rgb(33, 43, 45);
}

.four{
    margin-left: 20%;
}


.topnav {
    background-color:  rgba(53,63,65);
    overflow: hidden;
    margin-left: 1%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: rgba(6, 129, 211, 0.274);
    color: white;
  }

  .MM{
      color: white;
     margin-left: 15%;
  }

  .UL{
      color: white;
      margin-left: 12%;
      text-decoration: underline;
  }

  .G{
      margin-left: 55%;
      position: relative;
      top: -200px;
      color: white;
     
  }

  .text-1{
      margin-left:  35%;
      position: relative;
      top: -200px;
      color: white;
  }

  .block{
      color: white;
      margin-left:   12%;
      position: relative;
      top: -150px;
  }

  .subscription{
      color: white;
      margin-left: 35%;
      position: relative;
      top: -370px;
  }

  .other-services{
      color: white;
      margin-left: 60%;
      position: relative;
      top: -600px;
  }

  .buttonsss{
      width: 1200px;
      margin-left: 1%;
      position: relative;
      top: -600px;
      color: white;
  }